.primary {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
  transition: transform .5s ease-in-out;
}

.primary.active {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
  transition: transform .5s ease-in-out;
}



@keyframes pulse {
  0% {
    scale: 1.0;
  }

  100% {
    scale: .9;
  }
}

.secondary {
  background-color: gray;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary:hover {
  /* animation: pulse 1s ease-in-out infinite alternate; */
  transform: scale(.9);

}


 
.primary:active {
  background-color: red;
} 

/* .primary:focus {
    background-color: darkblue;
    transform:scale(.9);
  } */





.secondary:hover {
  background-color: darkgray;
}