* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TopBoundingBox {
  padding:10px;
  display:flex;
  gap: 10px;
}

.notVisible > button{
  display:none;
}

.BotBoundingBox{
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:10px;
}

.testdiv {
  background-color: blue;
}